.dropdown_container_expand_center {
  position: relative;
  display: flex;
  justify-content: center;
  .dropdown_bg {
    width: 100%;
    height: 100%;
    // background-color:#f6fc4260;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    cursor: initial;

    &.hide_bg {
      opacity: 0;
      pointer-events: none;
    }
  }
  .dropdown_body {
    // width: 30px;
    width: 100%;
    height: 30px;
    margin: 0;
    z-index: 10;
    position: relative;
    z-index: 6;
    display: flex;
    justify-content: center;
    // display: flex;
    .default_area {
      min-width: 30px;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.8);
      color: var(--main);
      display: flex;
      align-items: center;
      border: solid 1px var(--main);
      cursor: pointer;
      display: flex;
      justify-content: center;
      line-height: 30px;
      border-radius: 5px;
      user-select: none;
      opacity: 1;
      pointer-events: auto;
      transition: 0.3s;
      // max-width: unset;
      .icon_area {
        width: 30px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid var(--main);
        transition: 0.3s;
        .arrow_down {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid var(--main);
          transition: 0.3s;
          transform: unset;

          &.unfold {
            transform: scaleY(-1);
          }
        }
      }
      &.hide {
        opacity: 0;
        pointer-events: none;
        max-width: 0;
        display: none;
      }
    }
    .unfold_area {
      // width: 0;
      height: 30px;
      position: absolute;
      // left: 0;
      background-color: #0b1216;
      color: var(--main);
      transition: 0.3s;
      overflow: hidden;
      transform: scaleX(0);
      transform-origin: center;
      border: none;
      overflow-y: scroll;
      border-radius: 5px;
      display: flex;
      align-items: center;
      user-select: none;
      pointer-events: none;
      &.unfold {
        transform: scaleX(1);
        // width: unset;
        pointer-events: auto;
        border: solid 1px var(--main);
        position: relative;
      }
      .each_item {
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: 0.3s;
        box-sizing: border-box;
        padding: 0 8px;
        border-right: dashed 1px var(--main);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: var(--main);
          color: #0c1a2a;
        }
        &:last-child {
          border-right: none;
        }
        &.current_item {
          background-color: var(--main);
          color: #0c1a2a;
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
