.pixel_canva_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  // @media screen and (max-width: 1920px) {
  //   width: calc(var(--main-width) / 1920);
  // }

  .paint_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .wrap {
      display: flex;
      justify-content: center;
      border: 1px solid #2a8ab6;
      position: relative;
      // padding: 3px;
      box-sizing: border-box;
      width: 100%;
      .hour {
        margin: 0;
        .cube {
          min-width: 15px;
          height: 15px;
          &.selected {
            background-color: rgb(0, 255, 136);
          }
        }
      }
    }
  }
  .btn_area {
    display: flex;
    align-items: center;
    margin-top: 15px;
    .color_picker {
      opacity: 1;
      width: 30px;
      height: 30px;
      // position: absolute;
      cursor: pointer;
      margin-right: 15px;
      // border: none;
      border-radius: 5px;
      background-color: transparent;
      border-color: #42c6fc;
    }
    .speed_input {
      border: none;
      outline: none;
      width: 30px;
      height: 20px;
      margin: 0 20px 0 0;
    }
    .show_btn,
    .reset_btn {
      width: 80px;
      height: 30px;
      color: #2a8ab6;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid #2a8ab6;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      // margin-top: 15px;
      line-height: 28px;
      transition: 0.3s;
      margin-right: 15px;
      cursor: pointer;
      &:hover {
        background-color: #2a8ab6;
        color: #0c1a2a;
      }
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  .list_panel {
    margin: 50px 0 0 0;
    border: 1px solid #2a8ab6;
    .list_panel_header {
      color: #2a8ab6;
      font-size: 16px;
      font-weight: 600;
      height: 35px;
      border-bottom: 1px dashed #42c6fc;
      margin: 0 0 0 0;
      line-height: 33px;
    }
    .list_panel_wrap {
      max-height: 400px;
      box-sizing: border-box;
      padding: 5px 10px 0 10px;
      overflow-x: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
        // background-color: #152637;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      &::-webkit-scrollbar-track-piece {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #2a8ab6;
      }

      &::-webkit-scrollbar-track {
        box-shadow: transparent;
      }

      .list_panel_inner {
        width: 100%;

        .each_row {
          // height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 5px 0 0 0;
          border-bottom: 1px dashed #2a8ab6;
          padding-bottom: 8px;
          box-sizing: border-box;
          &:last-child {
            border-bottom: none;
          }
          .data_id {
            color: #2a8ab6;
            width: 30px;
          }
          .thumbnail {
            width: 60px;
            height: 60px;
            object-fit: contain;
            // border: 1px solid #42c6fc;
            margin: 0 10px 0 10px;
          }
          .delete_btn,
          .play_btn {
            width: 60px;
            height: 20px;
            color: #2a8ab6;
            font-size: 16px;
            font-weight: 500;
            border: 1px solid #2a8ab6;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            line-height: 20px;
            transition: 0.3s;
            cursor: pointer;
            margin: 0 10px;
          }
          .delete_icon {
            width: 20px;
            height: 20px;
            background-image: url("images/icon_delete.svg");
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }
}
