.setup_panel_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width:160px;
    box-sizing: border-box;
    background-color: #0c1a2a;
    border:1px solid #2a8ab6;
    border-radius: 5px;
    opacity: 1;
    pointer-events: auto;
    &.hide {
      opacity: 0;
      pointer-events: none;
    }
    .title {
      color: var(--main);
      font-size: 20px;
      font-weight: 600;
      margin:0 0 0 0;
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px dashed var(--main);
      line-height: 38px;
      user-select: none;
    }
    .function {
        margin:10px;
        .area {
            display: flex;
            justify-content: space-between;
            height: 30px;
            width: 100px;
            padding: 5px 0;
        }
        .color_area {
          .color_tip {
            color:var(--main);
            font-weight: 600;
            height: 30px;
            line-height: 30px;
          }
          .color_picker {
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid var(--border);
            padding: 0;
          }
        }
    
        .speed_area {
          .speed_tip {
            color:var(--main);
            font-weight: 600;
            height: 30px;
            line-height: 30px;
          }
          .speed_input {
            border: none;
            outline: none;
            width: 60px;
            height: 30px;
            padding: 5px;
            box-sizing: border-box;
            font-size: 18px;
            background-color: transparent;
            border: 1px solid var(--main);
            border-radius: 5px;
            color: var(--main);
            line-height: 30px;
            text-align: center;
          }
        }
        .stroke_area {
          .stroke_tip {
            color:var(--main);
            font-weight: 600;
            height: 30px;
            line-height: 30px;
          }
    
        }
        .erase_area {
          .erase_tip {
            color:var(--main);
            font-weight: 600;
            height: 30px;
            line-height: 30px;
          }
    
        }
        .palm_reject_area {
          .palm_reject_tip {
            color:var(--main);
            font-weight: 600;
            height: 30px;
            line-height: 30px;
          }
    
        }
        .touch_type_area {
          &.must_bounce {
            animation: ItemPulse 1.7s ease-in-out infinite;
          }
          &.must_bounce.custom_green {
            animation: ItemPulseGreen 1.7s ease-in-out infinite;
          }
          .touch_type_tip {
            color:var(--main);
            font-weight: 600;
            height: 30px;
            line-height: 30px;
            transition: .3s;
            &.custom_green {
              color: var(--custom-green);
            }
          }
    
        }
        .prev_step_area,.next_step_area {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .prev_step_tip,.next_step_tip {
            color:var(--main);
            font-weight: 600;
            height: 30px;
            line-height: 30px;
          }
          .prev_btn,.next_btn {
            width: 30px;
            height: 25px;
            color: var(--main);
            font-size: 16px;
            font-weight: 500;
            border: 1px solid var(--main);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 28px;
            transition: 0.3s;
            // margin:0 10px;
            position: relative;
            cursor: pointer;
            &.disable {
              pointer-events: none;
              cursor: initial;
              opacity: 0.5;
            }
            // &:hover {
            //   background-color: var(--main);
            //   color: #0c1a2a;
            // }
            .prev_icon {
              width: 20px;
              height: 20px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              filter: invert(44%) sepia(99%) saturate(334%) hue-rotate(154deg) brightness(88%) contrast(98%);
              transform:rotate(-20deg)
            }
            .next_icon {
              width: 20px;
              height: 20px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              filter: invert(44%) sepia(99%) saturate(334%) hue-rotate(154deg) brightness(88%) contrast(98%);
              transform:rotate(20deg)
            }
          }

        }
        .btn {
          width: 80px;
          height: 30px;
          color: var(--main);
          font-size: 16px;
          font-weight: 500;
          border: 1px solid var(--main);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          line-height: 28px;
          transition: 0.3s;
          margin:0 10px;
          position: relative;
          cursor: pointer;
          &:hover {
            background-color: var(--main);
            color: #0c1a2a;
          }
          &.disable {
            pointer-events: none;
            cursor: initial;
            opacity: 0.5;
          }
        }

    }
    @keyframes ItemPulse {
      0% {
        transform: scale(1.00);
        filter: drop-shadow(0px 0px 2px var(--border));
        
      }
      50% {
        transform: scale(1.03);
        filter: drop-shadow(0px 0px 5px var(--border));
      }
      100% {
        transform: scale(1.00);
        filter: drop-shadow(0px 0px 2px var(--border));
      }
    }
    @keyframes ItemPulseGreen {
      0% {
        transform: scale(1.00);
        filter: drop-shadow(0px 0px 2px var(--custom-green));
        
      }
      50% {
        transform: scale(1.03);
        filter: drop-shadow(0px 0px 5px var(--custom-green));
      }
      100% {
        transform: scale(1.00);
        filter: drop-shadow(0px 0px 2px var(--custom-green));
      }
    }
  }