.App {
  text-align: center;
  width: 100vw;
  /* height: 100vh; */
  background-color: #0c1a2a;
  touch-action:none;
  /* overflow: hidden; */
  /* overflow-y: scroll;
  overflow-x: hidden; */

}
.App.download_time {
  position: fixed;
}
